<article  ng-controller="banksCtrl">
   <section id="listView" ng-if="view=='list'">
      <section id="mainContent" class="listing">
         <ul class="list-group profile-listing">
         <li class=" " ng-repeat="row in data">
            <div class="cols1">
               <span ng-class="'item-icon fa fa-money text-danger'"></span>
            </div>
            <div class="cols2">
               <a href="#banks/view/{{row.jesua}}">
                  <h4>
                     {{row.name}}
                  </h4>
                  <small><span ng-if='row.code' ng-bind="'Banch Code: '+row.code+' &nbsp;&nbsp;'"></span> <span ng-if='row.account_number' ng-bind="'Account Number: '+row.account_number"></span> <span ng-if='row.balance' ng-bind="row.ballance+' '+row.currency"></span></small>
               </a>
            </div>
         </li>
         </ul>
      </section>
   </section>
   <section id="detailView"  ng-if="view=='new'||view=='view'">
      <section class=""><span id="messager" ng-class="'help-block '+{true:'text-danger',false:'text-info'}[err]" ng-show="msg">{{msg}}</span>
         <form id="dataForm" ng-submit="submit(dataForm)" name='dataForm'>
         <input type="hidden" class="form-control" ng-model="data.jesua" />
         <input type="hidden" class="form-control" ng-model="data.modified" />
         <div class="form-group">
            <label for="name" >Bank's Name</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.name]">
                  <span class="input-group-addon glyphicon glyphicon-qrcode"></span>
                  <input type="text" class="form-control" autocomplete="off" required placeholder="Bank's name" id="name" title="Bank's name" name="name" ng-model="data.name" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="code" >Bank Code</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.code]">
                  <span class="input-group-addon glyphicon glyphicon-barcode"></span>
                  <input type="text" class="form-control" required placeholder="Bank code" title="Bank code" id="code" name="code" ng-model="data.code" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="code" >Swift Code</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.swift]">
                  <span class="input-group-addon fa fa-tag"></span>
                  <input type="text" class="form-control" required placeholder="Swift code" title="Swift code" id="swift" name="swift" ng-model="data.swift" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="account_number" >Account Number</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.account_number]">
                  <span class="input-group-addon fa fa-book"></span>
                  <input type="text" class="form-control" required placeholder="Bank Account Number" title="Bank Account Number" id="account_number" name="account_number" ng-model="data.account_number"  />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="address" >Description</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.address]">
                  <span class="input-group-addon fa fa-align-justify"></span>
                  <textarea class="form-control" placeholder="description" title="description" id="address" name="description" ng-model="data.description"  /></textarea>
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="country" >Country</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.country]">
                  <span class="input-group-addon fa fa-flag"></span>
                  <input type="text" class="form-control" required placeholder="Bank's Original Country" id="country" title="Country From" name="country" ng-model="data.country" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="balance" >Account Ballance</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.balance]">
                  <span class="input-group-addon fa fa-group"></span>
                  <output class="form-control" title="The banks balance" id="balance" name="balance" >{{data.balance}}</output>
               </div>
            </div>
         </div>
         <div class="form-group" ng-if="opt.foreignVal">
            <h4 class="refSection">{{opt.foreignConf[key].title}}</h4>
            <div>
               <div ng-repeat="(key,links) in opt.foreignVal" >
                  <div id='srvModified' class="input-group btn-group" data-toggle="buttons" ng-init="col1=opt.foreignConf[key].col1;col2=opt.foreignConf[key].col2;parent=data[opt.foreignConf[key].parent];type=opt.foreignConf[key].type;">
                     <span class="input-group-addon glyphicon glyphicon-book"></span>
                     <button ng-if="type=='radio'" ng-repeat="(k,link) in links.rows" type="button" class="btn btn-primary" ng-model="link[col1]"  btn-radio="'{{parent}}'" ng-click="DBenum(links,parent,col1,k,'radio');">{{link[col2]}}</button>
                     <button ng-if="type=='checkbox'" ng-repeat="(k,link) in links.rows" type="button" class="btn btn-primary" ng-model="link[col1]" btn-checkbox btn-checkbox-false="null" btn-checkbox-true="'{{parent}}'" >{{link[col2]}}</button>
                  </div>
               </div>
            </div>
         </div>
         <div ng-if="licentia.deLta||data.jesua==prima||true" ng-class="'input-group '+{true:'has-error'}[errMsg.firstname]">
            <button type="submit" ng-class="btnClass" name="submit" >{{btn}}</button>
         </div>
         </form>
         <div ng-repeat="(ref,lists) in opt.listsConf" ng-if="data.jesua" class="table-responsive panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">{{lists.title}}. <small class="white" ng-show="!opt.listsVal">Click on the add(+) icon to add new items</small> </h3></div>
            <div class="panel-body">
               <table class="table table-hover table-condensed table-dynamic table-list">
                  <thead>
                     <tr>
                        <th>#</th><th>Receipt</th><th>Date</th><th>Amount</th><th>Receiver</th><th>Approver</th><th width='5%'><a href='#bankHistory/new' class="glyphicon glyphicon-plus text-info" title="Add a new item"></a></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="(key,list) in opt.listsVal[ref]">
                        <td>{{key+1}}</td>
                        <td><a href="#bankHistory/view/{{list.jesua}}" >{{list.receipt_no}}</a></td>
                        <td><a href="#bankHistory/view/{{list.jesua}}" >{{list.modified}}</a></td>
                        <td><a href="#bankHistory/view/{{list.jesua}}" >{{list.withdrawn?'- '+list.withdrawn:'+ '+list.deposit}} {{list.currency}}</a></td>
                        <td><a href="#bankHistory/view/{{list.jesua}}" >{{list.received_by}}</a></td>
                        <td><a href="#bankHistory/view/{{list.jesua}}" >{{list.approved_by}}</a></td>
                        <td><a href="#bankHistory/view/{{list.jesua}}" >View</a></td>
                     </tr>
                  </tbody>
                  <tfoot>
                     <tr><td colspan="7">&nbsp;<a href="#bankHistory/new" class="glyphicon glyphicon-plus text-info link" title="Add a new item">&nbsp;Click here to add new transaction.</a></td></tr>
                  </tfoot>
               </table>
            </div>
         </div>
      </section>
   </section>
</article>