<article  ng-controller="pettyHistoryCtrl">
   <section id="listView" ng-if="view=='list'">
      <section id="mainContent" class="listing">
         <ul class="list-group profile-listing">
         <li class=" " ng-repeat="row in data">
            <div class="cols1">
               <span ng-class="'item-icon fa fa-suitcase text-success'"></span>
            </div>
            <div class="cols2">
               <a href="#pettyHistory/view/{{row.jesua}}">
                  <h4>
                     {{row.receipt_no}} - {{row.currency}} {{row.withdrawn?'-'+row.withdrawn:'+'+row.deposit}}
                  </h4>
                  <small><span ng-if='row.received_by'>{{row.received_by}}, </span> <span ng-if='row.end_date'>{{row.end_date}}.</span></small>
               </a>
            </div>
         </li>
         </ul>
      </section>
   </section>
   <section id="detailView"  ng-if="view=='new'||view=='view'">
      <section class=""><span id="messager" ng-class="'help-block '+{true:'text-danger',false:'text-info'}[err]" ng-show="msg">{{msg}}</span>
         <form id="dataForm" ng-submit="submit(dataForm)" name='dataForm'>
         <input type="hidden" class="form-control" ng-model="data.jesua" />
         <input type="hidden" class="form-control" ng-model="data.modified" />
         <div class="form-group">
            <label for="receipt_no" >Receipt Number</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.receipt_no]">
                  <span class="input-group-addon glyphicon glyphicon-qrcode"></span>
                  <input type="text" class="form-control" required autocomplete="off" placeholder="Receipt number" title="Receipt number" autofocus id="receipt_no" name="receipt_no" ng-model="data.receipt_no" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="status" >Deposit / Withdraw</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.inOut]">
                  <span class="input-group-addon glyphicon  fa fa-sitemap"></span>
                  <button type="button" class="btn btn-primary" ng-model="data.inOut"  btn-radio="'deposit'" >Deposit</button>
                  <button type="button" class="btn btn-primary" ng-model="data.inOut"  btn-radio="'withdrawn'" >Withdrawn</button>
               </div>
            </div>
         </div>
         <div class="form-group" ng-if="data.inOut=='withdrawn'">
            <label for="withdrawn" >Amount to withdrawn</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.withdrawn]">
                  <span class="input-group-addon fa fa-dollar"></span>
                  <input type="text" class="form-control" required placeholder="Amount to withdrawn" title="Amount withdrawn" name="withdrawn" id="withdrawn" ng-model="data.withdrawn" />
               </div>
            </div>
         </div>
         <div class="form-group" ng-if="data.inOut=='deposit'">
            <label for="deposit" >Amount to deposit {{data.deposit}}</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.deposit]">
                  <span class="input-group-addon fa fa-dollar"></span>
                  <input type="text" class="form-control" required placeholder="Amount to deposit" title="Amount deposit" name="deposit" id="deposit" ng-model="data.deposit" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="status" >Currency</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.currency]">
                  <span class="input-group-addon glyphicon  fa fa-money"></span>
                  <button ng-repeat="key in opt.extra.currency.enum" type="button" class="btn btn-primary" ng-model="data.currency"  btn-radio="'{{key}}'" >{{key}}</button>
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="description" >Description</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.description]">
                  <span class="input-group-addon fa fa-align-justify"></span>
                  <textarea class="form-control" required placeholder="Description of receipt" title="Description" name="description" id='description' ng-model="data.description"></textarea>
               </div>
            </div>
         </div>
         <div ng-if="licentia.deLta||data.jesua==prima||true" ng-class="'input-group '+{true:'has-error'}[errMsg.firstname]">
            <button type="submit" ng-class="btnClass" name="submit" >{{btn}}</button>
         </div>
         </form>
      </section><small ng-show="false">{{data|json}} <hr/> {{btnClass|json}} <hr/> {{opt|json}}</small>
   </section>
</article>