<article  ng-controller="suppliersCtrl">
   <section id="listView" ng-if="view=='list'">
      <section id="mainContent" class="listing">
         <ul class="list-group profile-listing">
         <li class=" " ng-repeat="row in data">
            <div class="cols1">
               <span ng-class="'item-icon fa fa-group text-primary'"></span>
            </div>
            <div class="cols2">
               <a href="#suppliers/view/{{row.jesua}}">
                  <h4>
                     {{row.name}}
                  </h4>
                  <small><span ng-if='row.contact'>{{row.contact}}, </span>&nbsp;&nbsp;&nbsp; <span ng-if='row.description'>{{row.description}}.</span></small>
               </a>
            </div>
         </li>
         </ul>
      </section>
   </section>
   <section id="detailView"  ng-if="view=='new'||view=='view'">
      <section class=""><span id="messager" ng-class="'help-block '+{true:'text-danger',false:'text-info'}[err]" ng-show="msg">{{msg}}</span>
         <form id="dataForm" ng-submit="submit(dataForm)" name='dataForm'>
         <input type="hidden" class="form-control" ng-model="data.jesua" />
         <input type="hidden" class="form-control" ng-model="data.modified" />
         <input type="hidden" class="form-control" ng-model="data.category" />
         <div class="form-group">
            <label for="name" >Name</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.name]">
                  <span class="input-group-addon glyphicon glyphicon-qrcode"></span>
                  <input type="text" class="form-control" required autocomplete="off" placeholder="Supplier's name" title="Suppliers's name" autofocus id="name" name="name" ng-model="data.name" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="code" >Supplier's Code</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.code]">
                  <span class="input-group-addon glyphicon glyphicon-barcode"></span>
                  <input type="text" class="form-control" required placeholder="Supplier's code" title="Supplier's code" name="code" id='code' ng-model="data.code" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="contact" >Contact Person</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.contact]">
                  <span class="input-group-addon glyphicon glyphicon-user"></span>
                  <input type="text" class="form-control" required placeholder="contact person" title="contact person" name="contact" id="contact" ng-model="data.contact"  />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="email" >Email</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.email]">
                  <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                  <input type="email" class="form-control" required placeholder="Email address" title="Email address" name="email" id="email" ng-model="data.email"  />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="tel" >Contact number</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.tel]">
                  <span class="input-group-addon glyphicon glyphicon-phone"></span>
                  <input type="tel" class="form-control" required placeholder="Contact number" title="Contact number" name="tel" id="tel" ng-model="data.tel"  />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="description" >Description</label>
            <div>
               <div ng-class="'input-group '+{true:'has-error'}[errMsg.description]">
                  <span class="input-group-addon glyphicon glyphicon-pushpin"></span>
                  <textarea class="form-control" required placeholder="Supplier's description" title="Supplier's description" name="description" id="description" ng-model="data.description">
                  </textarea>
               </div>
            </div>
         </div>
         <div class="form-group" ng-if="opt.reference">
            <h4 class="refSection">{{opt.foreign[key].title}}</h4>
            <div>
               <div ng-repeat="(key,links) in opt.reference" >
                  <div class="input-group btn-group" data-toggle="buttons" ng-init="col1=opt.foreign[key].col1;col2=opt.foreign[key].col2;parent=data[opt.foreign[key].parent];type=opt.foreign[key].type;">
                     <span class="input-group-addon glyphicon glyphicon-book"></span>
                     <lable ng-repeat="(k,link) in links.rows" ng-init="temp=link[col1]" ng-class="'btn btn-primary '+{true:'active'}[temp!=null]" ng-click="DBenum(links,parent,col1,k,type); ">
                        <input type="{{type||'checkbox'}}" name="title" ng-model="link[col2]" ng-value="true" />{{link[col2]}}</lable>
                  </div>
               </div>
            </div>
         </div>
         <div ng-if="licentia.deLta||data.jesua==prima" ng-class="'input-group '+{true:'has-error'}[errMsg.firstname]">
            <button type="submit" ng-class="btnClass" name="submit" >{{btn}}</button>
         </div>
         </form>
         <hr/>
         <div ng-repeat="(ref,lists) in opt.listsConf" class="table-responsive panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">{{lists.title}}. &nbsp;&nbsp;<small class="white" ng-show="!opt.listsVal">Click the bill below to see more details</small> </h3></div>
            <div class="panel-body">
               <table class="table table-hover table-condensed table-dynamic table-list">
                  <thead>
                     <tr>
                        <th>#</th><th>Bank</th><th>Branch Code</th><th>Account Number</th><th>Swift</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="(key,list) in opt.listsVal[ref]">
                        <td>{{key+1}}</td>
                        <td><a href="#bills/view/{{list.jesua}}" class="link" >{{list.name}}</a></td>
                        <td><a href="#bills/view/{{list.jesua}}" class="link" >{{list.code}}</a></td>
                        <td><a href="#bills/view/{{list.jesua}}" class="link" >{{list.account_number}}</a></td>
                        <td><a href="#bills/view/{{list.jesua}}" class="link" >{{list.swift}}</a></td>
                     </tr>
                  </tbody>
                  <tfoot ng-if="opt.listsVal">
                     <tr><td colspan="5">&nbsp;<a href="#banks/new" class="glyphicon glyphicon-plus text-info link" title="Add a new item">&nbsp;Click here to add new bank.</a></td></tr>
                  </tfoot>
               </table>
            </div>
         </div>
      </section><small ng-show="false">{{data|json}} <hr/> {{btnClass|json}} <hr/> {{opt|json}}</small>
   </section>
</article>