<article id="detailView"  ng-controller="exodus">
   <section class="">
      <form id="userForm" name="dataForm" ng-submit="login(dataForm)" >
         <div id='srvModified' class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="text" class="form-control" required placeholder="Username or Email" autofocus name="username" ng-model="data.username" />
         </div>
         <div id='srvModified' class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock"></span>
            <input type="password" class="form-control" placeholder="Enter server Password" name="password" ng-model="data.password" />
         </div>
         <div id='srvModified' class="input-group">
            <button type="submit" class="form-control btn btn-primary width50" name="login" >Login</button>
            <button type="button" class="form-control btn btn-default width50" ng-click="forgot()" name="submit" >Forgot</button>
         </div>
      </form>
   </section>
</article>