<article  ng-controller="usersCtrl">
   <section id="listView" ng-if="view=='list'">
      <header class="menuHeader"><ol class="breadcrumb"><li><a href="#genesis">Home</a></li><li class="active">{{menu.list[0].name}}</li></ol><a ng-if="licentia.Alpha" ng-href="{{menu.list[0].url}}" class="glyphicon glyphicon-plus success"></a></header>
      <section id="mainContent" class="div-striped-">
         <div class="row numbers-items" ng-repeat="row in data">
            <div class="col-xs-1">
               <span ng-class="'item-icon glyphicon glyphicon-user success'"></span>
            </div>
            <div class="col-xs-11">
               <a href="#joshua/administrator/{{row.username}}/details">
                  <h4>
                     {{row.firstname+' '+row.lastname}}
                  </h4>
                  <small><span ng-if='row.email'>{{row.email}},</span> <span ng-if='row.mobile'>{{row.mobile}}.</span></small>
               </a>
            </div>
         </div>
      </section>
   </section>
   <section id="detailView"  ng-if="view=='new'||view=='view'">
      <section class="">
         <form id="userForm" ng-submit="submit()">
         <input type="hidden" class="form-control" ng-model="data.jesua" />
         <input type="hidden" class="form-control" ng-model="data.modified" />
         <div class="form-group">
            <label for="inputEmail3" >Title</label>
            <div>
               <div class="input-group btn-group" data-toggle="buttons">
                  <span class="input-group-addon glyphicon glyphicon-book"></span>
                  <lable ng-repeat="key in opt.extra.title.enum" ng-class="'btn btn-primary '+{true:'active'}[data.title==key]" ng-click="data.title=key"><input type="radio" name="title" ng-model="data.title" ng-value="key"/>{{key}}</lable>
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="inputEmail3" >Name</label>
            <div>
               <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-qrcode"></span>
                  <input type="text" class="form-control" required placeholder="Administrator's name" title="Administrator's name" autofocus name="firstname" ng-model="data.firstname" />
               </div></div>
         </div>
         <div class="form-group">
            <label for="inputEmail3" >Surname</label>
            <div>
               <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-barcode"></span>
                  <input type="text" class="form-control" required placeholder="Administrator's Surname" title="Administrator's Surname" name="lastname" ng-model="data.lastname" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="inputEmail3" >Email</label>
            <div>
               <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                  <input type="email" class="form-control" required placeholder="Email address" title="Email address" name="email" ng-model="data.email"  />
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="inputEmail3" >Mobile</label>
            <div>
               <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-phone"></span>
                  <input type="tel" class="form-control" required placeholder="Mobile number" title="Mobile number" name="mobile" ng-model="data.mobile"  />
               </div>
            </div>
         </div>
         <div class="form-group" ng-if="!data.jesua">
            <label for="inputEmail3" >Username</label>
            <div>
               <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-user"></span>
                  <input type="text" class="form-control" required placeholder="Unique username" title="Unique username" name="username" ng-model="data.username" />
               </div>
            </div>
         </div>
         <div class="form-group" ng-if="!data.jesua">
            <label for="inputEmail3" >Password</label>
            <div>
               <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-lock"></span>
                  <input type="password" class="form-control" placeholder="Enter server Password" title="Enter server Password" name="password" ng-model="data.password" />
               </div>
            </div>
         </div>
         <div class="form-group" ng-if="opt.reference">
            <h4 class="refSection">{{opt.foreign[key].title}}</h4>
            <div>
               <div ng-repeat="(key,links) in opt.reference" >
                  <div class="input-group btn-group" data-toggle="buttons" ng-init="col1=opt.foreign[key].col1;col2=opt.foreign[key].col2;parent=data[opt.foreign[key].parent];type=opt.foreign[key].type;">
                     <span class="input-group-addon glyphicon glyphicon-book"></span>
                     <lable ng-repeat="(k,link) in links.rows" ng-init="temp=link[col1]" ng-class="'btn btn-primary '+{true:'active'}[temp!=null]" ng-click="DBenum(links,parent,col1,k,type); ">
                        <input type="{{type||'checkbox'}}" name="title" ng-model="link[col2]" ng-value="true" />{{link[col2]}}</lable>
                  </div>
               </div>
            </div>
         </div>
         <div ng-if="licentia.deLta||data.jesua==prima" class="input-group">
            <button type="submit" ng-class="btnClass" name="submit" >{{btn}}</button>
         </div>
         </form>
      </section>
   </section>
   <small ng-show="!PASCO">{{data|json}} <hr/> {{btnClass|json}} <hr/> {{opt|json}}</small>
</article>